.active
{
  color: red;
}
.list-items-header
{
  list-style: none;
  display: flex;
  justify-content: space-around;

}
.footer-part
{

 position: absolute;
 bottom: 0px;
 left: 45%;
}

.login-part
{
  float: right;
  margin-right: 5vh;
}
.signin-part
{
  position: absolute;
  left: 50%;
  top:25%;
   transform: translate(-50%,-50%);
}

.success {
  color: blue;
}

.error {
  color: red;
}